.App {
  text-align: center;
  background-color: #e9e9e9;
  height: 100vh;
}

.App-header {
  height: 20vh;
  /* background-color: ; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
  font-size: clamp(2rem, 4vw, 3rem);
  color: black;
  padding-left: 80px;
}

.App-header h3 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: safe;
  /* background: wheat; */
  padding-left: 100px;

  height: max-content;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 858px) {
  .App-header{
  padding-left: 10px;
  }

  .App-header h3{
    margin-bottom: 0px;
  }
  main {
    /* justify-content: center; */
    padding-left: 10px;
    /* width: auto;
    background-color: grey; */
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 560px) {

  main {
    /* justify-content: center; */
    padding-left: 10px;
    /* width: auto;
    background-color: grey; */
  }
}
