@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");


body {
  margin: 0;
  font-family: "Lustria", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9E9E9;
  color: #110730;
}
